/*
.navbar, .dropdown-menu{
/*background:rgba(255,255,255,0.25); 
border: none;
}
.dropdown-menu{
    box-shadow:none;
}

.nav li:hover:nth-child(4n+1), .nav li.active:nth-child(4n+1){
  border-bottom: #C4E17F 3px solid;
}
.nav li:hover:nth-child(4n+2), .nav li.active:nth-child(4n+2){
  border-bottom: #F7FDCA 3px solid;
}
.nav li:hover:nth-child(4n+3), .nav li.active:nth-child(4n+3){
  border-bottom: #FECF71 3px solid;
}
.nav li:hover:nth-child(4n+4), .nav li.active:nth-child(4n+4){
  border-bottom: #F0776C 3px solid;
}
*/
.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
  background-color: #486086;
  color:#eeeeee;
}
th{
	text-align: center;
}
.table-bordered th {
background: #054756;
color:#fff;
font-weight :600 !important;
font-size:12px;
text-align: center;
padding:5px;
    height: 25px;
background-color:#054756 !important ;
}
.table td{
    font-weight:600 !important;
    padding: 5px;
    text-align: left;
}
.trcr{
    	color: black;

}
.trc{
	background-color: #73BBE0;
    	color: black;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
