<div class="order-topbar">
    <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon svgIcon="order_menu"></mat-icon>
        </button>
        <span class="logo">
            <img src="./assets/icons/common/order-logo.svg">
            <span>ORDER FULFILLER</span>
        </span>
        <span class="topbar-spacer"></span>
        <button mat-icon-button>
            <mat-icon svgIcon="order_search"></mat-icon>
        </button>
        <mat-divider [vertical]="true" class="topbar-divider"></mat-divider>
        <button mat-icon-button>
            <mat-icon svgIcon="order_settings"></mat-icon>
        </button>
        <mat-divider [vertical]="true" class="topbar-divider"></mat-divider>
        <button mat-icon-button>
            <mat-icon svgIcon="order_notifications"></mat-icon>
        </button>
        <mat-divider [vertical]="true" class="topbar-divider"></mat-divider>
        <!-- <img class="profile-pic"/> -->
        <button mat-icon-button>
            <mat-icon class="profile-pic"></mat-icon>
        </button>
        <span class="user-name">User Name</span>
        <button mat-icon-button>
            <mat-icon svgIcon="order_arrow_drop_down_circle"></mat-icon>
        </button>
        <!-- <span mat-icon-button class="profile-name-span">
            <mat-icon>account_circle</mat-icon>
            <span>User Name</span>
            <mat-icon>arrow_drop_down_circle</mat-icon>
        </span> -->
    </mat-toolbar>
</div>