<div class="home-component">
    <!-- <order-topbar></order-topbar> -->
    <div class="application-section">
        <mat-sidenav-container class="sidenav-container">
            <mat-sidenav mode="side" opened class="navbar">
                <mat-nav-list>
                    <ng-container *ngFor="let item of menu">
                        <ng-container *ngIf="item.divider">
                            <div class="item-divider">
                                <mat-divider class="mat-divider"></mat-divider>
                                <div class="display-name">
                                    {{item.displayName}}
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="item.children && item.children.length > 0 && !item.divider">
                            <mat-accordion displayMode="default" class="order-sidenav-accordian">
                                <mat-expansion-panel (opened)="item.expanded = true" (closed)="item.expanded = false"
                                    hideToggle="true">
                                    <mat-expansion-panel-header class="nav-item">
                                        <mat-panel-title>
                                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                                <mat-icon svgIcon="{{item.iconName}}"></mat-icon>
                                                <span>{{item.displayName}}</span>
                                            </div>
                                        </mat-panel-title>
                                        <mat-panel-description class="nav-item-desc">
                                            <mat-icon svgIcon="order_sidenav_chevron_down"
                                                [ngClass]="(item.expanded) ? 'expanded' : ''"></mat-icon>
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <ng-container *ngFor="let child of item.children">
                                        <mat-list-item routerLink="{{child.route}}" [routerLinkActive]="['is-active']"
                                            class="nav-sub-item">
                                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                                <mat-icon svgIcon="{{child.iconName}}"></mat-icon>
                                                <span>{{child.displayName}}</span>
                                            </div>
                                        </mat-list-item>
                                    </ng-container>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </ng-container>
                        <ng-container *ngIf="!item.divider && (!item.children || item.children.length === 0)">
                            <mat-list-item routerLink="{{item.route}}" [routerLinkActive]="['is-active']"
                                class="nav-item">
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                    <mat-icon svgIcon="{{item.iconName}}"></mat-icon>
                                    <span>{{item.displayName}}</span>
                                </div>
                            </mat-list-item>
                        </ng-container>
                    </ng-container>
                </mat-nav-list>
            </mat-sidenav>
            <mat-sidenav-content class="content">
                <!-- <order-breadcrumb></order-breadcrumb> -->
                <div class="main-container">
                    <router-outlet (activate)="onActivate()"></router-outlet>
                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
    <!-- <order-footer></order-footer> -->
</div>