<div class="breadcrumb">
   <a href="#">
      <span class="breadcrumb__inner"><span class="breadcrumb__title">{{title}} </span></span>
   </a>
   <a class="active" href="#">
      <span class="breadcrumb__inner"><span class="breadcrumb__title">{{"Code"}}</span></span>
   </a>
</div>

<div style="margin-left: auto;">
   {% comment %} <button class="btn"><i class="fa fa-fw fa-plus-circle"></i> Add</button>
   <button class="btn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
   <button class="btn"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button> {% endcomment %}
    {% if title == "User Profile" %}
     <a href="/auth/web/reset-password" class="btn btn-primary btn-flat">Reset Password</a>
    {% endif%}
</div>

