{% extends "base/base.html" %} 
{% load static %} 
{% block content %}
<div class="content-wrapper">
	<section class="page-bar">{% include "authentication/breadcrumb-profile.html" %}</section>
	<!-- BEGIN PAGE CONTENT-->
	<section class="content">
		<div class="row">
			<div class="col-md-12">
				<div class="portlet box delivrd">
					<div class="portlet-body">
						<div class="row" style="">
            	<div class='col-md-3' style=''>
              </div>
							<div class='col-md-6' style='margin:10px;'>

              
                {% if form_error %}
                  <div class="alert alert-danger">
                    <strong></strong> {{form_error}}
                  </div>
                {% endif %}

              <form action="" method="post">

                  {% csrf_token %}  
                   <fieldset class="panel-fieldset">
                    <legend class="panel-legend">Reset Password</legend>
                     
                    <div class="form-group">
                    <input type="hidden" name="user_name" class="form-control"   value ="{{user}}" >
                      <label class="control-label control-label-margin-top col-lg-5 col-md-5">Old Password:</label>
                      <div class="col-lg-7 col-md-7 pt-10">
                      <input type="password" name="old_password" class="form-control"  value ="" required>
                        
                      </div>
                     
                    </div>
                    <div class="form-group">
                      <label class="control-label control-label-margin-top col-lg-5 col-md-5">New Password:</label>
                      <div class="col-lg-7 col-md-7 pt-10">
                      <input type="password" name="new_password" class="form-control"   value ="" required>
                        
                      </div>
                    
                    </div>
                    <div class="form-group">
                      <label class="control-label control-label-margin-top col-lg-5 col-md-5">Confirm Password:</label>
                      <div class="col-lg-7 col-md-7 pt-10">
                      <input type="password" name="confirm_password" class="form-control"   value ="" required >
                      
                      </div>
                    
                    </div>
                     <div class="form-group" >
                    <div class="col-lg-12 text-right" style="margin-top:20px;">
                      <button type="submit" class="btn btn-primary" id="sku-update">Update</button>
                      
                      <a href="/auth/web/update-profile/?employee_code={{request.session.employee_code}}" class="btn btn-default btn-flat">Cancel</a>
                    </div>
                  </div>
                    </fiefieldset>
                    </form>
                
								</div>
                <div class='col-md-3' style=''>
                </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
<!-- END CONTENT -->
</section>
</div>
<style>
	.control-label-margin-top{
	  margin-top:17px;
	  }
</style>

{% endblock %}